<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
    <div class="nav">
      <ul>
        <button type="button" ><a href="/">HOME</a></button>
        <button type="button" ><a href="/compose">COMPOSE</a></button>
      </ul>
    </div>
    <div class="card">
      <% posts.forEach(function(post){ %>
        <div class="post">
          <h3 class="card-title" style="display:inline-block"><%=post.title%></h1>
            <form class="" action="/posts/<%= post._id %>" method="DELETE" style="float: right;">
              <button type="submit" name="button">DEL</button>
            </form>

            <hr>
          <p class="card-text"><%=post.content%></p>
          <a href="/posts/<%=post._id%>" style="color: darkblue; text-decoration: underline;">Read More</a>
        </div>
      <% }); %>
    </div>
  </body>
</html>
