*{
  margin: 0;
}

/* index.ejs styling */

.blog{
  background-color: #F8F998;
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  display: inline-block;
}

.blog h1{
  position: relative;
  font-family: 'Cinzel', serif;
  font-size: 80px;
  margin-top: 0;
  margin-right: 0;
  display: inline-block;
}

.blog #read, #compose{
  position:relative;
  background-color: #F8F998;
  font-weight: bold;
  color: black;
  font-size: 15px;
  padding: 7px;
  border-radius: 23px;
  border-width: 2px;
  margin: 10px;
  height: 50px;
  width: 148px;
  display: inline-block;
}

.blog #compose:hover, #read:hover{
  cursor: pointer;
  font-size: 18px;
}

.blog span{
  position: relative;
  margin-left: 50%;
  margin-top: 175px;
  font-size: 35px;
  color: grey;
}

/* compose.ejs styling */

.subform{
  align-content: center;
  padding: 15%;
}

textarea{
  border-color: white;
}

textarea:focus {
  border-color: white;
  border-width: 0px;
  background-color: pink;
}

.subform #tt{
  font-size: 28px;
}

.subform button{
  background-color: #FF9E9E;
  color: black;
  border-radius: 18px;
  padding: 10px;
  width: 120px;
}

/* vertical bar styling */

.vertical-bar{
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background-color: white;
	text-align: center;
  display: inline-block;
}

.vertical-bar h1{
  color: #FFDDD2;
  font-size: 6.5rem;
  margin: 0 0 0 0;
  letter-spacing: 1rem;
  padding: 0;
  font-weight: bolder;
  font-family: serif;
  display: inline-block;
  text-align: center;
}
